{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'receipt/shopping_car_controller.js' %}"></script>

<div class = "page-header">
    <h1>
        <span class="badge badge-dark">Carrito de Compra </span> 
    </h1>
</div>
<hr>
{% if shopping_car_empty %}
<div class="alert alert-info" role="alert">
    El carrito de compras esta vacio
</div>
{% else %}
<div class="row"  ng-controller="shoppingCarController" ng-init="init({{ receipt }},{{ pay_method_list }})">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        Evento
                    </th>
                    <th>
                        Localidad
                    </th>
                    <th class="text-right">
                        Precio
                    </th>
                    <th class="text-right">
                        Cantidad
                    </th>
                    <th class="text-right">
                        Subtotal
                    </th>
                    <th class="text-right">
                        Impuesto
                    </th>
                    <th class="text-right">
                        Total
                    </th>
                    <th class="text-right">
                        
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="item in receipt.items">
                <tr>
                    <td ng-bind="item.event_name">
                    </td>
                    <td ng-bind="item.locality_name">
                    </td>
                    <td class="text-right" ng-bind="item.price | currency:'$' ">
                    </td>
                    <td class="text-right">
                        <input type="number" name="{$ item.id $}" class="form-control w-50 float-right text-right" ng-model="item.quantity" ng-change="calculateValuesItem($index)" min="1" required/>
                    </td>
                    <td class="text-right" ng-bind="item.subtotal | currency:'$' ">
                    </td>
                    <td class="text-right" ng-bind="item.tax | currency:'$' ">
                    </td>
                    <td class="text-right" ng-bind="item.total | currency:'$' ">
                    </td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm fas fa-times" href="#" ng-click="deleteItem($index)"></a>
                    </td>
                </tr>
            </tbody>
            <thead class="thead-light">
                <tr>
                    <th>
                        Valor Total
                    </th>
                    <th>
                    </th>   
                    <th class="text-right">
                    </th>
                    <th class="text-right" ng-bind="calculateTotal('quantity')">
                    </th>
                    <th class="text-right" ng-bind="calculateTotal('subtotal') | currency:'$'">
                    </th>
                    <th class="text-right" ng-bind="calculateTotal('tax') | currency:'$'">
                    </th>
                    <th class="text-right" ng-bind="calculateTotal('total') | currency:'$'">
                    </th>
                    <th class="text-right">
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <form action="#" class="form form-inline" method="POST">
            <button type="submit" class="btn btn-success mb-2">Confirmar Compra</button>
            <div class="form-group ml-sm-3 mb-2">
                <label for="pay_method" class="sr-only">Metodo De Pago</label>
                <select id="pay_method" class="form-control text-secondary" ng-options="option[1] for option in pay_method_list" ng-model="formData.pay_method" required>
                    <option value="" disabled selected>Metodo De Pago</option>
                </select>
                <input hidden name="pay_method" value="{$ formData.pay_method $}" >
            </div>
            {% if perms.receipt.sell %}
            <div class="form-group mx-sm-3 mb-2">
                <label for="costumer" class="sr-only">Cliente</label>
                <select id="costumer" class="form-control text-secondary" ng-options="option[1] for option in {{ costumer_list }}" ng-model="formData.costumer" required>
                    <option value="" disabled selected>Cliente</option>
                </select>
                <input hidden name="costumer" value="{$ formData.costumer $}" >
            </div>
            {% endif %}
            {% csrf_token %}
        </form>
    </div>
    {% for item in no_avaliable %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top:1rem">
        <div class="alert alert-warning"  role="alert">
            En el evento {{item.event_locality.event.name}} en la localidad {{ item.event_locality.event.locality }} no hay suficiente disponibilidad, queda {{ item.event_locality.availability }} cupos.
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
   
<style>
    .table td{
        vertical-align: middle
    }
</style>

{% endblock %}