{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'receipt/shopping_car_controller.js' %}"></script>

<div class = "page-header">
    <h1>
        <span class="badge badge-dark">Carrito de Compra </span> 
        <small><b>{{ object.name }}</b></small>
    </h1>
</div>
<hr>
<div class="row" ng-controller="shoppingCarController" ng-init="init({{ shopping_car_detail }})">
    <table class="table table-responsive">
        <thead class="thead-light">
            <tr>
                <th>
                    Evento
                </th>
                <th>
                    Localidad
                </th>
                <th class="text-right">
                    Precio
                </th>
                <th class="text-right">
                    Cantidad
                </th>
                <th class="text-right">
                    Subtotal
                </th>
                <th class="text-right">
                    Impuesto
                </th>
                <th class="text-right">
                    Total
                </th>
                <th class="text-right">
                    
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="item in shopping_car">
            <tr>
                <td ng-bind="item.event_name">
                </td>
                <td ng-bind="item.locality_name">
                </td>
                <td class="text-right" ng-bind="item.price | currency:'$' ">
                </td>
                <td class="text-right">
                    <input type="number" class="form-control w-50 float-right text-right" ng-model="item.quantity">
                </td>
                <td class="text-right" ng-bind="(item.price * item.quantity) | currency:'$' ">
                </td>
                <td class="text-right" ng-bind="(item.price * item.quantity) * item.tax | currency:'$' ">
                </td>
                <td class="text-right" ng-bind="((item.price * item.quantity) + (item.price * item.quantity) * item.tax) | currency:'$' ">
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm fas fa-times" href="#" ng-click="deleteItem($index)"></a>
                </td>
            </tr>
        </tbody>
        <thead class="thead-light">
            <tr>
                <th>
                    <b>Valor Total</b>
                </th>
                <th>
                </th>   
                <th class="text-right">
                </th>
                <th class="text-right" ng-bind="getTotalQuantity()">
                </th>
                <th class="text-right" ng-bind="getSubtotal() | currency:'$'">
                </th>
                <th class="text-right" ng-bind="getTax() | currency:'$'">
                </th>
                <th class="text-right" ng-bind="getTotal() | currency:'$'">
                </th>
                <th class="text-right">
                </th>
            </tr>
        </thead>
    </table>
</div>
<style>
    .table td{
        vertical-align: middle
    }
</style>

{% endblock %}