/frontend/
/events_manager/**/__pycache__/**
/events_manager/**/migrations/**
/events_manager/__pycache__/**
events_manager/secrets.json
.vscode/settings.json
.gitignore
secrets.json
boleteria_pro.backup
