{% extends 'core/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <h1>Usuarios / <small>Lista</small> </h1>
    </div>
</div>

<hr>
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-5 form-group input-group">
            <input type="text" class="form-control" name="keyword" id="search_field" placeholder="Buscar A">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col-md-1 form-group">
            <a class="btn btn-primary" href="{% url 'core:create' %}">Crear</a>
        </div>
    </div>
    
</form>
<table class="table table-borderless table-hover table-responsive text-nowrap" id="users_table" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Nombre Usuario</th>
            <th>Nombre</th>
            <th>Fecha Creacion</th>
            <th>Email</th>
            {% if perms.event.change_event and perms.event.delete_event %}
            <th>Cargo</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        {% if perms.event.change_event and perms.event.delete_event %}
        <td><a class="btn btn-outline-danger btn-sm fas fa-trash-alt"  href="{{ user.get_absolute_delete_url }}"></a></td>
        <td><a class="btn btn-outline-info btn-sm fas fa-pencil-alt" href="{{ user.get_absolute_edit_url }}"></a></td>
        {% endif %}
        <td><a class="text-dark" href="{{ user.get_absolute_detail_url }}">{{ user.username }}</a></td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.date_joined }}</td>
        <td>{{ user.email }}</td>
        {% if perms.event.change_event and perms.event.delete_event %}
        <td>{{ user.position }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}