{% extends 'core/base.html' %}

{% block content %}
<form class="" method="POST">
<div class="row">
    <div class="col-md-8">
        <h1>Eventos Disponibles</h1>
    </div>
    <div class="col-md-4">
        
            {% csrf_token %}
            <div class="form-group input-group">
                <input type="text" class="form-control" name="keyword" id="search_field" placeholder="Buscar A">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                    {% if perms.event.add_event %}
                    <a class="btn btn-secondary" href="{% url 'event:create' %}">Crear Evento</a>
                    {% endif %}
                </div>
            </div>            
        </form>
    </div>
    
</div>
</form>

<hr>


<table class="table table-borderless table-hover table-responsive text-nowrap" id="events_table" width="100%" cellspacing="0">
    <div class="row">
    {% for event in events %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3" style="padding-top:2rem">
            <div class="card" href="{{ event.get_absolute_detail_url }}" style="text-decoration:none">
                <img class="card-img-top" src="{{ event.image_card.url }}">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h4><a class="text-secondary" href="{{ event.get_absolute_detail_url }}">{{ event.name }}</a></h4></li>
                        <li class="list-group-item">{{ event.event_type }}</li>
                        <li class="list-group-item">Fecha: {{ event.date }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</table>

{% endblock %}