{% extends 'core/base.html' %}
{% block content %}
<div class = "page-header">
    <h1>
        <span class="badge badge-dark">Evento </span> 
        <small><b>{{ object.name }}</b></small>
    </h1>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            {% if perms.event.change_event %}
            <div class="btn-group" role="group" aria-label="First group">
                <a class="btn btn-primary" href="{% url 'event:update' object.id %}">Editar</a>
            </div>
            {% endif %}
            <div class="btn-group mx-2" role="group" aria-label="Third group">
                <a class="btn btn-secondary" href="{% url 'event:list' %}">Volver a Lista</a>
            </div>
            {% if perms.eventlocality.add_eventlocality %}
            <div class="btn-group" role="group" aria-label="Second group">
                <a class="btn btn-warning" href="{% url 'eventlocality:create' object.id %}">Asignar Localidades</a>
            </div>
            {% endif %}
            
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-2">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <i class="fas fa-info-circle"></i> Informacion Del Evento
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                        <b><span class="font-weight-bold text-dark">Nombre: </span></b>  {{ object.name }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                        <b><span class="font-weight-bold text-dark">Deporte: </span></b>  {{ object.event_type }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                        <b><span class="font-weight-bold text-dark">Fecha: </span></b>  {{ object.date | date }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                        <b><span class="font-weight-bold text-dark">Hora: </span></b>  {{ object.date | time:"h:i a" }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                        <b><span class="font-weight-bold text-dark">Hora Apertura: </span></b>  {{ object.time_open | time:"h:i a" }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                        <b><span class="font-weight-bold text-dark">Dirección: </span></b>  {{ object.address }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if object.get_localities %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-1">
        <div class="row">
        {% for locality in object.get_localities %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 pt-1">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Localidad {{ locality.locality.name }}
                    </div>
                    <div class="card-body">
                        <p><strong>Precio:</strong> ${{ locality.price }}</p>
                        {% if locality.availability > 0 %}
                        <p><strong>Estado:</strong> Disponible</p>
                        <button ng-click="addToShoppingCar('{{locality.id}}')" class="btn btn-sm btn-success"><i class="fas fa-shopping-cart"></i> Añadir Al Carrito</button>
                        {% elif locality.availability <= 0 %}
                        <p><strong>Estado:</strong> Agotado</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-1">
        <div class="alert alert-info"  role="alert">
            Las localidades del evento aun estan por definir.
        </div>
    </div>
    {% endif %}
    
</div>
{% endblock %}