{% extends 'core/base.html' %}

{% block content %}
<form action="#" class="" method="POST">
    <div class="row">
        <div class="col-md-8">
            <h1>Eventos Disponibles</h1>
        </div>
        <div class="col-md-4">
            {% csrf_token %}
            <div class="form-group input-group">
                <input type="text" class="form-control" name="keyword" id="search_field" placeholder="Buscar A" value="{{ keyword }}">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                    {% if perms.event.add_event %}
                    <a class="btn btn-secondary" href="{% url 'event:create' %}">Crear Evento</a>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
</form>

<hr>

<div class="row">
{% for event in object_list %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 pt-2">
        <div class="card" href="{{ event.get_absolute_detail_url }}" style="text-decoration:none">
            <img class="card-img-top" src="{{ event.image_card.url }}">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h4><a class="text-secondary" href="{{ event.get_absolute_detail_url }}">{{ event.name }}</a></h4></li>
                    <li class="list-group-item">{{ event.event_type }}</li>
                    <li class="list-group-item">Fecha: {{ event.date | date }}</li>
                    <li class="list-group-item">Dirección: {{ event.address }}</li>
                </ul>
                {% if perms.event.delete_event %}
                <div class="btn-group ml-5 mt-2">
                    <a class="btn btn-danger btn-sm fas fa-trash-alt" href="{% url 'event:delete' event.id %}"></a>
                </div>
                {% endif %}
                {% if perms.event.change_event %}
                <div class="btn-group ml-5 mt-2">
                    <a class="btn btn-secondary btn-sm fas fa-pencil-alt" href="{% url 'event:update' event.id %}"></a>
                </div>
                {% endif %}
            </div>
            
        </div>
    </div>
{% endfor %}
</div>
<div class="row py-2">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 pt-2">
        <h4>Eventos En Aliados</h4>
    </div>
</div>
<div class="row">
{% for event in allies_events %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 py-2">
        <div class="card" href="{{ event.get_absolute_detail_url }}" style="text-decoration:none">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h4><a class="text-secondary" href="{{ event.url }}">{{ event.nombre }}</a></h4></li>
                    <li class="list-group-item">Fecha: {{ event.fecha }}</li>
                    <li class="list-group-item">Dirección: {{ event.lugar }}</li>
                </ul>
            </div>
            
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}