{% extends 'core/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <h1>Mis Boletos / <small>Lista</small> </h1>
    </div>
</div>

<hr>
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-5 form-group input-group">
            <input type="text" class="form-control" name="keyword" id="search_field" placeholder="Buscar A">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        {% if perms.ticket.add_ticket %}
        <div class="col-md-1 form-group">
            <a class="btn btn-primary" href="{% url 'event:list' %}">Comprar Otro Boleto</a>
        </div>
        {% endif %}
    </div>
    
</form>
<table class="table table-borderless table-hover table-responsive text-nowrap" id="ticket_table" width="100%" cellspacing="0">
    <thead>
        <tr>
            {% if perms.ticket.change_ticket and perms.ticket.delete_ticket %}
            <th></th>
            <th></th>
            {% endif %}
            <th>Evento</th>
            <th>Localidad</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
    {% for ticket in object_list %}
    <tr>
        {% if perms.ticket.change_ticket and perms.ticket.delete_ticket %}
        <td><a class="btn btn-outline-danger btn-sm fas fa-trash-alt"  href="{{ ticket.get_absolute_delete_url }}"></a></td>
        <td><a class="btn btn-outline-info btn-sm fas fa-pencil-alt" href="{{ ticket.get_absolute_edit_url }}"></a></td>
        {% endif %}
        <td><a class="text-dark" href="{{ ticket.get_absolute_detail_url }}"><i class="fas fa-eye"></i> {{ ticket.event_locality.event.name }}</a></td>
        <td>{{ ticket.event_locality.locality.name }}</td>
        <td>{{ ticket.event_locality.event.date }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}