{% extends 'core/base.html' %}

{% block content %}
<form action="#" class="" method="POST">
    <div class="row">
        <div class="col-md-8">
            <h1>
                <span class="badge badge-dark">Mis Boletos</span>
            </h1>
        </div>
        <div class="col-md-4">
            {% csrf_token %}
            <div class="form-group input-group">
                <input type="text" class="form-control" name="keyword" id="search_field" placeholder="Buscar A" value="{{ keyword }}">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                    {% if perms.ticket.add_ticket %}
                    <a class="btn btn-secondary" href="{% url 'ticket:create' %}">Crear Boleto</a>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
</form>

<hr>

<div class="table-responsive">
    <table class="table table-borderless table-hover table-striped" id="ticket_table" width="100%" cellspacing="0">
        <thead class="thead-light">
            <tr>
                {% if perms.ticket.change_ticket and perms.ticket.delete_ticket %}
                <th></th>
                <th></th>
                {% endif %}
                <th>Boleto</th>
                <th>Factura</th>
                <th>Evento</th>
                <th>Localidad</th>
                <th>Fecha Y Hora Evento</th>
                <th>Fecha Y Hora de Compra</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in object_list %}
        <tr>
            {% if perms.ticket.change_ticket and perms.ticket.delete_ticket %}
            <td><a class="btn btn-outline-danger btn-sm fas fa-trash-alt"  href="{{ ticket.get_absolute_delete_url }}"></a></td>
            <td><a class="btn btn-outline-info btn-sm fas fa-pencil-alt" href="{{ ticket.get_absolute_edit_url }}"></a></td>
            {% endif %}
            <td><a class="btn btn-outline-dark btn-sm" href="{{ ticket.get_absolute_detail_url }}">{{ ticket.identifier }}</a></td>
            <td><a class="btn btn-outline-dark btn-sm" href="{{ ticket.receipt.get_absolute_detail_url }}">{{ ticket.receipt.identifier }}</a></td>
            <td><a class="btn btn-outline-dark btn-sm" href="{{ ticket.event_locality.event.get_absolute_detail_url }}">{{ ticket.event_locality.event.name }}</a></td>
            {% if perms.locality.view_locality %}
            <td><a class="btn btn-outline-dark btn-sm" href="{{ ticket.event_locality.locality.get_absolute_detail_url }}">{{ ticket.event_locality.locality.name }}</a></td>
            {% else %}
            <td>{{ ticket.event_locality.locality.name }}</td>
            {% endif %}
            <td>{{ ticket.event_locality.event.date }}</td>
            <td>{{ ticket.creation_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}