{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Boleteria Pro!</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- FontAwesome core CSS -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/no_print.css' %}" rel="stylesheet" type="text/css">

  </head>

  <body id="page-top">
    <header>
    </header>
    <div id="content-wrapper" style="padding-top:2rem">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xg-12" style="padding-top:1rem">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <i class="fas fa-info-circle"></i> Factura {{ object }}
                        </div>
                        <div class="card-body">
                            <div class="row" style="padding-top: 2rem">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xg-3">
                                    <strong><span class="font-weight-bold text-dark">Evento: </span></strong>  {{ object.event.name }}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xg-3">
                                    <strong><span class="font-weight-bold text-dark">Equipo Local: </span></strong>  {{ object.event.equipo_local }}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xg-3">
                                    <strong><span class="font-weight-bold text-dark">Equipo Visitante: </span></strong> {{ object.event.equipo_visitante }}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xg-3">
                                    <strong><span class="font-weight-bold text-dark">Comprador C.C.: </span></strong>  {{ object.propietario.identification }}
                                </div>
                            </div>
                            <div class="row" style="padding-top: 2rem">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xg-3">
                                    <strong><span class="font-weight-bold text-dark">Comprador Nombre: </span></strong>  {{ object.propietario }}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xg-3">
                                    <strong><span class="font-weight-bold text-dark">Comprador Celular: </span></strong>  {{ object.propietario.mobile }}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xg-3">
                                    <strong><span class="font-weight-bold text-dark">Comprador Telefono: </span></strong> {{ object.propietario.phone }}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xg-3">
                                    <strong><span class="font-weight-bold text-dark">Metodo De Pago</span></strong>  {{ object.metodo_pago }}
                                </div>
                            </div>
                            <div class="row justify-content-start" style="padding-top: 2rem">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xg-3">
                                    <table class="table table-unbordered">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    Subtotal:
                                                </th>
                                                <td class="text-right">
                                                    $ {{ object.subtotal }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    IVA:
                                                </th>
                                                <td class="text-right">
                                                    $ {{ object.iva }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Total:
                                                </th>
                                                <td class="text-right">
                                                    $ {{ object.price }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9 col-xg-9 text-center">
                                    <h3>Boleteria <span class="badge badge-primary">Pro!</span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xg-3" style="padding-top:2rem">
                    <button class="btn btn-primary no-print" onclick="print()">Imprimir</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xg-3" style="padding-top:2rem">
                    <a class="btn btn-secondary no-print" href="{{ object.get_absolute_detail_url }}"">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    </body>

</html>
    
