{% extends 'core/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <h1>Tipo Eventos / <small>Lista</small> </h1>
    </div>
</div>

<hr>
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-5 form-group input-group">
            <input type="text" class="form-control" name="keyword" id="search_field" placeholder="Buscar A">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        {% if perms.typeevent.add_typeevent %}
        <div class="col-md-1 form-group">
            <a class="btn btn-primary" href="{% url 'type_event:create' %}">Crear Tipo De Evento</a>
        </div>
        {% endif %}
    </div>
    
</form>
<table class="table table-borderless table-hover table-responsive text-nowrap" id="events_table" width="100%" cellspacing="0">
    <thead>
        <tr>
            {% if perms.typeevent.delete_typeevent %}
            <th></th>
            {% endif %}
            {% if perms.typeevent.change_typeevent %}
            <th></th>
            {% endif %}
            <th>Nombre Tipo De Evento</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
    {% for typeevent in typeevents %}
    <tr>
        {% if perms.typeevent.delete_typeevent %}
        <td><a class="btn btn-outline-danger btn-sm fas fa-trash-alt"  href="{{ typeevent.get_absolute_delete_url }}"></a></td>
        {% endif %}
        {% if perms.typeevent.change_typeevent %}
        <td><a class="btn btn-outline-info btn-sm fas fa-pencil-alt" href="{{ typeevent.get_absolute_edit_url }}"></a></td>
        {% endif %}
        <td><a class="text-dark" href="{{ typeevent.get_absolute_detail_url }}"><i class="fas fa-eye"></i> {{ typeevent.name }}</a></td>
        <td>{{ typeevent.description }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}