{% extends 'core/base.html' %}
{% block content %}
<div class = "page-header">
    <h1>
        <span class="badge badge-dark">Tipo De Evento</span>
        <small><b>{{ object }}</b></small>
    </h1>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-print">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            {% if perms.typeevent.change_typeevent %}
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a class="btn btn-primary" href="{% url 'type_event:update' object.id %}">Editar</a>
            </div>
            {% endif %}
            {% if perms.typeevent.delete_typeevent %}
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a class="btn btn-danger" href="{% url 'type_event:delete' object.id %}">Eliminar</a>
            </div>
            {% endif %}
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a class="btn btn-secondary" href="{% url 'type_event:list' %}">Volver a Lista</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-2">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <i class="fas fa-info-circle"></i> Informacion Basica
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 py-2">
                        <b><span class="font-weight-bold text-dark">Nombre: </span></b>  {{ object.name }}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 py-2">
                        <b><span class="font-weight-bold text-dark">Descripción: </span></b>  {{ object.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}