{% extends 'core/base.html' %}

{% block content %}
<form action="#" class="" method="POST">
    <div class="row">
        <div class="col-md-8">
            <h1>
                <span class="badge badge-dark">Tipos De Eventos</span>
            </h1>
        </div>
        <div class="col-md-4">
            {% csrf_token %}
            <div class="form-group input-group">
                <input type="text" class="form-control" name="keyword" id="search_field" placeholder="Buscar A" value="{{ keyword }}">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                    {% if perms.typeevent.add_typeevent %}
                    <a class="btn btn-secondary" href="{% url 'type_event:create' %}">Crear Tipo De Evento</a>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
</form>

<hr>

<div class="table-responsive">
    <table class="table table-borderless table-hover table-striped" id="ticket_table" width="100%" cellspacing="0">
        <thead class="thead-light">
            <tr>
                {% if perms.typeevent.change_typeevent %}
                <th></th>
                {% endif %}
                {% if perms.typeevent.delete_typeevent %}
                <th></th>
                {% endif %}
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr>
            {% if perms.typeevent.change_user %}
            <td><a class="btn btn-outline-danger btn-sm fas fa-trash-alt"  href="{{ item.get_absolute_delete_url }}"></a></td>
            {% endif %}
            {% if perms.typeevent.delete_user %}
            <td><a class="btn btn-outline-info btn-sm fas fa-pencil-alt" href="{{ item.get_absolute_edit_url }}"></a></td>
            {% endif %}
            <td><a class="btn btn-outline-dark btn-sm" href="{{ item.get_absolute_detail_url }}">{{ item.name }}</a></td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}